*~ 
*.tmp


week7/sandbox/
week6/code/__pycache__
miniproject/code/analysis(withcubic)(copy)
miniproject/code/Data_prep(backup)
miniproject/code/model_final_withcubic
miniproject/code/model_test_code
miniproject/code/writeup.aux
miniproject/code/writeup.bbl
miniproject/code/writeup.blg
miniproject/code/writeup.log
miniproject/code/writeup.pdf
miniproject/code/writeup.synctex.gz
miniproject/code/writeup.toc

